.Component{
    height: 25vh;
    width: 100%;
    display: flex;

    .skillsList {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;

      .skillItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 2%;

        .icon {
          font-size: 4vh;
          color: var(--fuxia_claro);
        }
        .name {
          font-size: 3vh;
          color: var(--texto_ppal);
        }
        .description{
            font-size: 2vh;
            color: var(--texto_secondary);
            text-align: center;
        }
       }
       .skillItem:nth-child(odd){
        background-color: var(--fondo_secciones);
       }
     }
}