@import "../../src/app/globals.scss";

.navbarContainer {
  height: 8vh;
  width: 100%;
  background-color: var(--fondo_secciones);
  @include flex-center(row, 5px);
  h3 {
    @include flex-center(row, 5px);
    @include title;
    font-weight: lighter;
    p {
      @include title;
      font-weight: lighter;
      color: var(--fuxia);
    }
  }
}
