@import "../../src/app/globals.scss";

.skills {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 18px;
      color: gray;
      text-align: right;

      @include desktop {
        font-size: 15px;
      }
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 300px;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      gap: 20px;
      align-items: center;

      @include mobile {
        flex-direction: column;
        gap: 20px;
        text-align: center;
      }


      h1 {
        font-size: 60px;
        font-weight: 100;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;

        @include mobile {
          font-size: 30px !important;
        }

        @include desktop {
          font-size: 40px;
        }
      }

      span {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-weight: bold;
        color: orange;
        font-style: italic;
      }

      button {
        width: 300px;
        height: 80px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;

        @include mobile {
          font-size: 16px !important;
          width: 150px !important;
          height: 50px !important;
        }

        @include desktop {
          height: 60px;
          width: 250px;
          font-size: 20px;
        }
      }

      .skillsImage {
        @include mobile {
          display: none;
        }
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1166px;
    margin: auto;
    margin-bottom: 2%;

    @include mobile {
      flex-direction: column;
      width: 90% !important;
    }

    @include desktop {
      margin-top: 1%;
    }

    .box {
      padding: 50px;
      width: 100%;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        padding: 5% !important;
      }

      @include desktop {
        padding: 30px;
      }

      h2 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 4%;
        @include desktop{
          font-size: 18px;
        }
      }
      
      p {
        margin-bottom: 1%;
        @include desktop{
          font-size: 15px;
        }
      }

      a {
        button {
          width: 100%;
          margin-top: 2%;
          padding: 10px;
          background-color: orange;
          border: none;
          cursor: pointer;
        }

        @include mobile {
          display: none;
        }
      }
    }
  }
}