.skills {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 18px;
      color: gray;
      text-align: right;
    }
    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      gap: 20px;
      align-items: center;

      h1 {
        font-size: 60px;
        font-weight: 100;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      span {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        font-style: italic;
      }

      button {
        width: 300px;
        height: 80px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1166px;
    margin: auto;
    margin-bottom: 2%;

    .box {
      padding: 50px;
      width: 100%;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h2{
        text-align: center;
        font-size: 22px;
        margin-bottom: 4%;
      }
      p{
        margin-bottom: 1%;
      }
      button {
        margin-top: 2%;
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (max-width: 1281px) {
  .skills {

  .textContainer {
    p {
      font-size: 15px;
    }
  }
  .titleContainer {

    .title {

      h1 {
        font-size: 45px;
      }

      button {
        width: 200px;
        height: 50px;
        border-radius: 40px;
        font-size: 20px;
      }
    }
  }
  .listContainer {
    .box {
     
      h2{
        font-size: 18px;
      }
      p{
       font-size: 13px;
      }
      a{
       button{
        width: 100%;
       } 
      }
    }
  }
}
}