* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace, cursive;
  color: lightgray;
}

html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(41, 41, 41);
}

:root{
  --font-principal: "Jersey-20";
}
section{
  scroll-snap-align: center;
  height: 100vh;
}