.Container {
    height: calc(100% - 130px);
    background-image: url("https://images.pexels.com/photos/4252892/pexels-photo-4252892.jpeg?auto=compress&cs=tinysrgb&w=600");
    ;
}

.UpperContainer {
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.h1 {
    padding: 2px;
    color: #5f005f;
    font-family: 'kanit-black' !important;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.One,
.Three,
.Four,
.Five,
.Six {
    flex: 1;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}

.One {
    background-color: rgb(239, 239, 0);
}

.Two {
    text-align: center;
    margin-top: 5%;
    background-color: crimson;
    flex: 1;
    height: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Three {
    text-align: center;
    background-color: rgb(0, 174, 0);
    padding: 10px;
}

.Four {
    text-align: center;
    background-color: blue;
    padding: 10px;
}

.Five {
    text-align: center;
    background-color: purple;
    padding: 10px;
    margin-top: 5%;

}

.Six {
    text-align: center;
    background-color: rgb(220, 143, 0);
    padding: 10px;
}

.Seven {
    margin-top: 2%;
    padding: 5px;
    background-color: crimson;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.img {
    transform: rotate(-5deg);
    border-radius: 10px;
    height: 250px !important;
    width: fit-content !important;
    box-shadow: 5px 5px 3px 5px rgb(183, 183, 0);
}

.Span {
    font-weight: bold;
    font-size: 25px;
    font-family: 'sedan-italic';
    text-align: center;
    font-style: italic;
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'sedan-italic';
    font-style: italic;
}

.desc {
    padding: 1%;
    margin: 2px;
    font-family: 'kanit-black' !important;
    font-size: 18px;
    letter-spacing: 0.2px;
}

@font-face {
    font-family: 'sedan-italic';
    src: url(/Sedan-Italic.ttf);
}

@font-face {
    font-family: 'kanit-black';
    src: url(/Kanit-Black.ttf);
}

.link {
    color: whitesmoke;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .acordeonMobile {
        height: 100%;
        width: 100vw;
    }

    .One {
        margin: 4%;
        width: 80%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255, 0.2);
        border-right: 10px solid salmon;
        box-shadow: 0 4px 8px rgb(50, 50, 50);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .img {
        width: 150px !important;
        height: fit-content !important;
        border-radius: 20px;
        box-shadow: none;
    }

    .summaryMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .articleMobile:nth-of-type(2),
    .articleMobile:nth-of-type(5){
        border-left: 10px solid purple;
    }

    .articleMobile:nth-of-type(4),
    .articleMobile:nth-of-type(7) {
        border-left: 10px solid #214a4f;
    }
    
    .articleMobile:nth-of-type(3),
    .articleMobile:nth-of-type(6) {
        border-left: 10px solid #fdbe87;
    }
    .articleMobile:nth-of-type(8) {
        border-top: 10px solid #fdbe87;
        border-bottom: 10px solid salmon;
        border-right: 10px solid #214a4f;
        border-left: 10px solid purple;
        
    }

    .articleMobile {
        background-color: rgb(255, 255, 255, 0.2);
        box-shadow: 0 4px 8px rgb(50, 50, 50);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: fit-content;
        margin-bottom: 5%;
        padding: 5%;
    }
    .h1 {
        font-family: cursive !important;
        padding: 2%;
    }
    .p {
        color: whitesmoke;
        text-shadow: 0 0 5px gray, 0 0 7.5px gray, 0 0 10px gray;
    }
    .p:nth-child(odd){
        font-family:cursive;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 1%;
    }

    .UpperContainer,
    .Seven {
        display: none;
    }
}