.Container {
    height: calc(100% + 50px);
    background-image: url("https://images.pexels.com/photos/3861976/pexels-photo-3861976.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    overflow: hidden;
    /*background-color: rgb(20, 20, 20);*/
}

.About_Me_Container {
    height: calc(100% + 50px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.About_Me_Card {
    perspective: 1000px;
    width: 300px;
    height: 300px;
    padding: 1%;
    margin: 3%;
    position: relative;
    cursor: pointer;
    margin-top: 15%;
}
.About_Me_Card:nth-child(-n+3){
  margin-top: 8%;
}
.About_Me_Card:nth-last-child(-n + 3){
  margin-bottom: 10%;
}
.About_Me_Card > div {
    padding: 3%;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 25px;
  }
  .cardFront {
    font-size: 14px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.cardFront:hover{
    transform: scale(1.05);
}
  
  .cardBack {
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(180deg);
  }
  .About_Me_Card.flipped .cardFront {
    transform: rotateY(180deg);
  }
  
  .About_Me_Card.flipped .cardBack {
    transform: rotateY(0);
  }

@media only screen and (max-width: 480px) {}