@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.Main {
    display: flex;
    margin: 0;
    height: calc(100% - 50px);
    width: 100vw;
    background-color: rgb(20, 20, 20);
}

.Left {
    margin-top: 6%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
    overflow: hidden;
}

.Right {
    margin-top: 15%;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(20, 20, 20);
    background-color: crimson;
    width: 100%;
    height: 70%;
    border-radius: 40% 0%;
}
.inner_img{
    animation: movement 25s infinite;
    filter: drop-shadow(0 0 5px rgb(61, 60, 60)) drop-shadow(0 0 10px rgb(46, 46, 46)) drop-shadow(0 0 20px rgb(41, 41, 41));
}
.wrapper {
    color: white;
    width: 50vw;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin: 12px;
    font-size: 60px;
    font-style: italic;
    color: crimson;
    font-family: "Dancing Script", cursive;
}

.text {
    text-align: center;
    font-family: monospace, cursive;
    font-size: 25px;
}

.span {
    font-family: monospace, cursive;
    color: crimson;
    font-size: 35px;
    font-style: italic;
}

.wrapper2 {
    color: white;
    width: 80%;
    height: 40%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    border-radius: 60% 0%;
    margin-bottom: 5%;
}


@keyframes movement {

    0% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}
/* Aqui el código de Large_Intro*/
.Large_intro {
    background-color: rgb(20, 20, 20);
    height: 70vh;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Large_intro_container{
    width: 70vw;
    display: flex;
}
.Large_intro_img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.Large_intro_img:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px rgb(51,51,51)) drop-shadow(0 0 10px rgb(46,46,46)) drop-shadow(0 0 20px rgb(41, 41, 41));
}
.Large_intro_h1 {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 45px;
    color: whitesmoke;
    font-family: monospace, cursive;
}

.img_muppet{
    height: fit-content;
    margin-left: 2%;
}

@media only screen and (max-width: 480px) {
    .Main {
        flex-direction: column;
    }

    .Left,
    .Right {
        width: 100vw;
    }

    .Left {
        margin-top: 50px;
    }

    .inner_img {
        width: fit-content !important;
        height: 100% !important;
    }

    .wrapper {
        padding-left: 0.5%;
    }

    .text {
        font-size: 20px;
    }

    .name {
        font-size: 40px;
    }

    .span {
        font-size: 25px;
    }

    .upper {
        display: flex;
        background-color: black;
        color: aliceblue;
    }
}