.Container {
    width: 100vw;
    height: calc(100% + 130px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cover {
    width: 100vw;
    height: 25vh;
    background-color: rgba(239, 60, 60, 0.65);
    /*position: relative;*/
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.CardContainer {
    width:80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 1%;
    border: 1.5px solid black;
    border-radius: 20px;
}

.p {
    font-size: 18px;
    text-shadow: black;
}

.CardContainer:hover {
    box-shadow: 5px 5px 8px 1px gray;
}

.Imagen {
    padding: 1px;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.Text {
    height: 40%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3 {
    font-size: 25px;
    text-align: center;
}

.link {
    padding: 3px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-top: 2px;
    text-align: center;
    border: 1px solid black;
    width: 300px;
    background-color: whitesmoke;
}

.link:hover {
    transform: scale(1.05);
}

.img {
    border: rgb(200, 200, 200) 1.5px solid;
    margin-top: 1%;
    border-radius: 20px;
    height: fit-content !important;
    box-shadow: 5px 8px 3px 5px rgb(187, 187, 187);
}

.DescComponent {
    width: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid crimson;
    background-color: whitesmoke;
}

*/
.MobileContainer {
    display: none;
}


@media only screen and (max-width: 481px) {
    
.Upper,
.Lower {
    display: none;
}

.MobileContainer {
    height: 100%;
    width: 100vw;
    display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        background-image: url("https://images.pexels.com/photos/4252892/pexels-photo-4252892.jpeg?auto=compress&cs=tinysrgb&w=600");
    }
    
    .MobileContainerLinks {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cardContainer:nth-child(1) {
        margin-top: 60px;
    }
    
    .cardContainer {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgb(50, 50, 50);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .imageCard {
        border-radius: 15px;
        width: 100%;
        height: fit-content;
    }
    
    .pTitle {
        padding: 5px;
        color: white;
        border-bottom: 1px solid white;
        text-shadow: 0 0 5px gray, 0 0 10px gray, 0 0 15px gray, 0 0 20px gray, 0 0 25px gray, 0 0 30px gray, 0 0 35px gray;
    }
}