.cont {
    height: calc(100% + 130px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Upper {
    height: calc(25vh + 80px);
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    background-color: crimson;
}

.Left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stamp {
    height: fit-content;
    flex-direction: column;
    text-shadow: black 1px 0 10px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.title {
    letter-spacing: 2px;
    font-size: 25px;
}
.p {
    font-size: 18px;
    text-shadow: black;
}

.Lower {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CardContainer {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    margin: 1%;
    border: 1px solid black;
    border-radius: 20px;
}
.CardContainer:hover{
    box-shadow: 5px 5px 8px 1px gray;
}
.Imagen{
    padding: 1px;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.Text{
    height: 40%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h3{
    font-size: 25px;
    text-align: center;
}
.link{
    padding: 3px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-top: 2px;
    text-align: center;
    border: 1px solid black;
    width: 300px;
}
.link:hover{
    transform: scale(1.05);
}
.img {
    border: rgb(200, 200, 200) 1.5px solid;
    margin-top: 1%;
    border-radius: 20px;
    height: fit-content !important; 
    box-shadow: 5px 8px 3px 5px rgb(187, 187, 187);
}
.DescComponent{
    width: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid crimson;
}

@media only screen and (max-width: 480px){
    .Upper {
        height: calc(40px + 80px);
        background-color: crimson;
    }
    .stamp{
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }
    .imgTitle{
        display: none;
    }
    .CardContainer {
        width: 300px;
        height: fit-content;
        margin-bottom: 1%;
    }
    .img{
        height: 120px !important;
        width: fit-content;
        box-shadow: 2px 2px 2px 2px rgb(187, 187, 187);
    }
    .h3{
        font-size: 20px;
    }
    .link{
        font-size: 15px;
        width: 200px;
        border-radius: 5px;
    }
    .DescComponent{
        display: none;
    }
}