@import "../../src/app/globals.scss";

.mainContainer {
  height: 70vh;
  width: 100%;
  @include flex-center();

  .AboutMe-Container {
    @include flex-center(row, 5%);
    height: 100%;
    width: 90%;

    .aboutme {
      width: 30%;
      @include flex-center(column, 20px);
      padding: 2.5%;
      border: 2.5px solid var(--fondo_secciones);

      .title {
        @include title;
        span {
          color: var(--fuxia);
        }
      }
      .description {
        font-size: 2.5vh;
        color: var(--gris_claro);
      }
      .metrics {
        @include flex-center(row, 20px);
        .metric {
          @include flex-center(column, 5px, center);
          .number {
            font-size: 4vh;
            color: var(--fuxia);
            font-weight: bold;
          }
          .label {
            text-align: center;
            font-size: 2vh;
            color: var(--gris_claro);
          }
        }
      }
    }

    .rightContainer {
      width: 70%;
      @include flex-center(column, 25px);

      .drivesMe:nth-child(1) {
        height: 40vh;
        align-items: center;
      }

      .drivesMe {
        @include card;
        width: 100%;
        padding: 2%;
        height: 30%;
        width: 90%;
        @include flex-center(column);
        justify-content: space-evenly;
        .subtitleRight {
          @include subtitle;
          margin-bottom: 3%;
        }
        .insideDesc {
          @include flex-center(row, 30px);
          width: 100%;
          flex-wrap: wrap;
          justify-content: space-between;
          .descRight {
            color: var(--texto_ppal);
          }
          .icon {
            font-size: 6vh;
            color: var(--fuxia);
            font-weight: bold;
            margin-right: 20px;
          }
        }
        .gridTechTools {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 40px;
          width: 90%;
          .techTool {
            @include flex-center(column, 10px, center);
            height: 50px;
            width: 50px;
            img {
              height: 40px;
              width: 40px;
              margin: 10px;
            }
          }
        }
      }
    }
  }
}
